body {
  font-family: "Roboto Mono", monospace;
  background-color: #004081;
  text-align: center;
  margin: 0;
}

.container {
  margin: auto;
  width: 95%;
  box-sizing: inherit;
  display: block;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.page-logo {
  padding-top: 30px;
  width: 200px;
}

.page-title {
  font-weight: 400;
  margin: 10px 0;
  padding-bottom: 20px;
  color: #fbffa2;
}

.currency-converter {
  color: #ffffff;
  background-color: #108cef;
  max-width: 400px;
  min-height: 250px;
  padding: 20px 12px;
  margin: auto;
  border: 1px solid #fbffa2;
  border-radius: 10px;
}

.row {
  display: inline-flex;
  padding: 5px 30px;
}

input,
label {
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.valor-input {
  padding: 10px;
}

.button {
  color: #ffffff;
  background-color: #fe4a67;
  float: right;
  padding: 12px 20px;
  margin: 0 5px;
}

#result {
  color: white;
}